<h1><%=@word.name%></h1>
<div class="well">
  <h3>Definitions:</h3>
  <ul>
  <%@word.term_list.each do |term| %>
  <li><%= term.meaning %></li>
  <% end %>
  </ul>
</div>
<h5><a href="/words/<%= @word.id%>/entry_new">Add definition(s)</h5>
<a href="/">Home Page</a>
