<div class="row">
  <div class="col-md-12">
    <h2>Add a new word</h2>
    <div class="alert alert-info">
      <form action="/words" method="post">
        <label for="word_new">Enter the word to define:</label>
        <input type="text" name="word_name">
        <button type="submit">Add word</button>
      </form>
    </div>
  </div>
</div>
