<h2>Add a new word</h2>
<form action="/word/new" method="post">

  <label for="word_name">Enter the word to define:</label>
  <input type="text" name="word_name">
  <button type="submit">Add word</button>
</form>
